<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    
    <title>Document</title>
    <link rel="stylesheet" href="./secondpage/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="./secondpage/card.css">
</head>

<body>
    <div class="top-bar">
        <div class="contact-info">
            <span><i class="bx bx-location-plus bx-flashing"></i>Address: Purba Bardhaman, 713101</span>
            <span><i class="bx bx-envelope"></i>Email:docappoint1234@gmail.com</span>
        </div>

        <div class="social_media-icon">
            <i class='bx bxl-google'></i>&nbsp;&nbsp;
            <i class='bx bxl-facebook-circle'></i>&nbsp;&nbsp;
            <i class='bx bxl-twitter'></i>
        </div>
        <div class="sign-in-up">
            <a href="/index"><img src="./secondpage/image/icons8-user-96.png" alt=""></a>
        </div>
    </div>

    <div class="logo">
        <div class="logo_main">
            <img src="./images/rupam1.png">
        </div>
    </div>

    <!--part 2-->
    <div class="ser">
        <h3>Best Doctors in 
<span>Burdwan</span></h3>

        <div class="ser_main">

            <div class="ser_drop2">
                <select id="hos">
                    <option>Burdwan Medical College </option>
                    <option>Burdwan Detal College</option>
                    <option>Asata</option>
                    <option>Dream Land</option>
                    <option>NIMS</option>
                    <option>BIMS</option>
                    <option>Parijat</option>
                </select>
            </div>

            <div class="search_main">
                <input type="text" class="search" placeholder="  Search Doctor,Hospital,Symptoms,Disease or anything"
                    style="color: black;">

            </div>


        </div>
    </div>

   <!-- menu-part -->
   <div class="menu">
    <div class="menu_head">
        <h2>Top Doctor Specialities In Burdwan</h2>
        <div class="menu_head1">
            <div class="menu_type1">
                <a href="/cardiology">CARDIOLOGY</a>
            </div>
            <div class="menu_type2">
                <a href="/neurology">NEUROLOGY</a>
            </div>
            <div class="menu_type3">
                <a href="/oncology">ONCOLOGY</a>
            </div>
            <div class="menu_type4">
                <a href="/gastro">GASTROENTEROLOGY</a>
            </div>
            <div class="menu_type5">
                <a href="/ent">ENT</a>
            </div>
            <div class="menu_type6">
                <a href="dentices">DENTICES</a>
            </div>
            <div class="menu_type7">
                <a href="general">GENERAL PHYSICIAN</a>
            </div>

            <div class="menu_type8">
                <a href="/urology">UROLOGY</a>
            </div>
        </div>
        <div class="main_head2">
            <div class="menu_type9">
                <a href="/generalsurgery">GENERAL SURGERY</a>
            </div>
            <div class="menu_type10">
                <a href="/orthopedic">ORTHOPAEDICS</a>
            </div>
            <div class="menu_type11">
                <a href="/dermotology">DERMOTOLOGY</a>
            </div>
            <div class="menu_type12">
                <a href="/opthalmology">OPTHALMOLOGY</a>
            </div>
            <div class="menu_type13">
                <a href="internalmedicine">INTERNAL MEDICINE</a>
            </div>
            <div class="menu_type14">
                <a href="radiationoncology">RADIATION ONCOLOGY</a>
            </div>
        </div>
    </div>
</div>


    <!-- part-4 -->
    <div class="part1">
        <div class="card-container">
            <div class="card">
                <div class="card-img">
                    <img src="./secondpage/image/Dr.Pradeep_Kumar_Nandi.png" alt="Dr.Pradeep Kumar Nandi">
                </div>
                <div class="card-details">
                    <h4>Dr. Pradeep Kumar Nandi</h4>
                    <p class="specialist">MBBS</p>
                    <p class="language">Registration No.&nbsp; &nbsp; Language</p>

                    <div class="h5">
                        <h5 class="h">6525</h5>
                        <h5 class="lan">English, Bengali, Hindi</h5>
                    </div>
                    <div class="location">
                        <img src="./secondpage/image/pngimg.com - google_maps_pin_PNG26.png" style="width: 13px;height: 20px;">
                        <p>Parijat</p>

                    </div>


                </div>
            </div>
            <div class="down">
                <div class="time">
                    <h4>SUN-SAT</h4>
                    <p>(07:30 PM- 09:30 PM)</p>
                </div>
                <div class="appointment">
                    <a href="/general/pradeep"><button>BOOK AN APPOINTMENT</button></a></button>
                   
                </div>
            </div>
        </div>

        <div class="card-container">
            <div class="card">
                <div class="card-img">
                    <img src="./secondpage/image/Dr.Deb_Kumar_Ray.png" alt="Dr. Deb Kumar Ray">
                </div>
                <div class="card-details">
                    <h4>Dr. Deb Kumar Ray</h4>
                    <p class="specialist">MBBS, MD - Lab Medicine</p>
                    <p class="language">Registration No.&nbsp; &nbsp; Language</p>

                    <div class="h5">
                        <h5 class="h">1121</h5>
                        <h5 class="lan">English, Bengali, Hindi</h5>
                    </div>
                    <div class="location">
                        <img src="./secondpage/image/pngimg.com - google_maps_pin_PNG26.png" style="width: 13px;height: 20px;">
                        <p>ASTHA</p>

                    </div>


                </div>
            </div>
            <div class="down">
                <div class="time">
                    <h4>WED-FRI</h4>
                    <p>(09:30 AM- 12:00 PM)</p>
                </div>
                <div class="appointment">
                    <a href="/general/debkumar"><button>BOOK AN APPOINTMENT</button></a></button>
                  
                </div>
            </div>
        </div>

        <div class="part2">
            <div class="card-container">
                <div class="card">
                    <div class="card-img">
                        <img src="./secondpage/image/Dr. Tuba_Tasrin.png" alt="Dr.Tuba Tasrin">
                    </div>
                    <div class="card-details">
                        <h4>Dr. Tuba Tasrin</h4>
                        <p class="specialist">MBBS</p>
                        <p class="language">Registration No.&nbsp; &nbsp; Language</p>
    
                        <div class="h5">
                            <h5 class="h">5666</h5>
                            <h5 class="lan">English, Bengali</h5>
                        </div>
                        <div class="location">
                            <img src="./secondpage/image/pngimg.com - google_maps_pin_PNG26.png" style="width: 13px;height: 20px;">
                            <p>Burdwan Medical Collage and Hospital</p>
    
                        </div>
    
    
                    </div>
                </div>
                <div class="down">
                    <div class="time">
                        <h4>MON-SAT</h4>
                        <p>(11:30 AM- 02:00 PM)</p>
                    </div>
                    <div class="appointment">
                        <a href="/general/tuba"><button>BOOK AN APPOINTMENT</button></a></button>
                  
                    </div>
                </div>
            </div>
    
            <div class="card-container">
                <div class="card">
                    <div class="card-img">
                        <img src="./secondpage/image/Dr.Moumita_Nag.png" alt="Dr. Moumita Nag">
                    </div>
                    <div class="card-details">
                        <h4>Dr. Moumita Nag</h4>
                        <p class="specialist">MBBS MD - Genaral PHYSICIAN</p>
                        <p class="language">Registration No.&nbsp; &nbsp; Language</p>
    
                        <div class="h5">
                            <h5 class="h">6532</h5>
                            <h5 class="lan">English, Bengali</h5>
                        </div>
                        <div class="location">
                            <img src="./secondpage/image/pngimg.com - google_maps_pin_PNG26.png" style="width: 13px;height: 20px;">
                            <p>Burdwan Medical Collage and Hospital</p>
    
                        </div>
    
    
                    </div>
                </div>
                <div class="down">
                    <div class="time">
                        <h4>WED-FRI</h4>
                        <p>(11:30 AM- 02:00 PM)</p>
                    </div>
                    <div class="appointment">
                        <a href="/general/moumita"><button>BOOK AN APPOINTMENT</button></a></button>
                        
                    </div>
                </div>
        </div>

        
    </div>

    <!-- part 3 -->
    <div class="part3">
        <div class="card-container">
            <div class="card">
                <div class="card-img">
                    <img src="./secondpage/image/Dr.Debabarta_Sarkar.png" alt="Dr. Debabrata Sarkar">
                </div>
                <div class="card-details">
                    <h4>Dr. Debabrata_Sarkar</h4>
                    <p class="specialist">MBBS</p>
                    <p class="language">Registration No.&nbsp; &nbsp; Language</p>

                    <div class="h5">
                        <h5 class="h">6262</h5>
                        <h5 class="lan">English,Bengali</h5>
                    </div>
                    <div class="location">
                        <img src="./secondpage/image/pngimg.com - google_maps_pin_PNG26.png" style="width: 13px;height: 20px;">
                        <p>KIMS, Parijat</p>

                    </div>


                </div>
            </div>
            <div class="down">
                <div class="time">
                    <h4>TUE-SAT</h4>
                    <p>(07:30 AM - 11:30 AM)</p>
                </div>
                <div class="appointment">
                    <a href="/general/debrata"><button>BOOK AN APPOINTMENT</button></a></button>
                   
                </div>
            </div>
        </div>

    
</div>

    <div class="footery">
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="footer-col">
                        <h4>Company</h4>
                        <ul>
                            <li><a href="#">about us</a></li>
                            <li><a href="#">our services</a></li>
                            <li><a href="#">privacy policy</a></li>
                            <li><a href="#">Know more</a></li>
    
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>Get Help</h4>
                        <ul>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Appointment</a></li>
                            <li><a href="#">Payment Options</a></li>
    
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>Online Shop</h4>
                        <ul>
                            <li><a href="#">watch</a></li>
                            <li><a href="#">bag</a></li>
                            <li><a href="#">shoes</a></li>
                            <li><a href="#">dress</a></li>
    
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>Follow Us</h4>
                        <div class="social-links">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>