<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Customer help to connect email </title>
    <link rel="stylesheet" href="./help_desk.css">
</head>
<body>
    <div class="design_main">
    <div class="design">
        
    <div class="container">
        <div class="container_main">
            <h2>Help Desk</h2>
            <form action="#">
                <input type="text" id="name" placeholder="Name"  >
                <input type="email" id="email" placeholder="Email id">
                <input type="text" id="phone" placeholder="Phone No" >
                <textarea id="message" rows="4" placeholder="How can we help you?"></textarea>
                <button type="submit">Send</button>
            </form>
        </div>
    </div>
    </div>
    </div>
    <script src="https://smtpjs.com/v3/smtp.js"></script>
    <script src="./helpdesk.js"></script>
   

</body>
</html>