<%- include('layout/header3') %>
        <div class="log">
            <div class="log_main">

                <div class="log_user">
                    <h1>User Profile</h1><br>
                    <div class="log_u">
                    
                    <h5>Username: <%= name%></h5><br>
                    <h5>Email: <%= email %></h5>
                    
                    </div>
                    <a href="/logout"><button type="button" class="btn-danger">Log Out</button></a>
                    <a href="/appointments"><button type="button" class="btn-danger">Appointments</button></a>

                    
                </div>
                <!-- <div class="log_img">

                   <img src="./images/pngwing.com---2020-07-17t120606.344.webp"> 
                 </div> -->
                        
                    
                        
                    </div>
                </div>
            </div>

            
        </div>





    

        <%- include('layout/footer') %>