<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <!-- css for email and number icon flashing -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <!-- css link -->
    <link rel="stylesheet" href="../thirdpage/about.css">



</head>

<body>
    <div class="top-bar">
        <div class="contact-info">
            <span><i class="bx bx-location-plus bx-flashing"></i>Address: Purba Bardhaman, 713101</span>
            <span><i class="bx bx-envelope"></i>Email:docappoint1234@gmail.com</span>
        </div>

        <div class="social_media-icon">
            <i class='bx bxl-google'></i>&nbsp;&nbsp;
            <i class='bx bxl-facebook-circle'></i>&nbsp;&nbsp;
            <i class='bx bxl-twitter'></i>
        </div>
        <div class="sign-in-up">
            <!-- <button>Sign In</button> -->
            <a href="/index"><img src="../thirdpage/image/icons8-user-96.png" alt=""></a>
        </div>
    </div>


    <!--Menu bar and logo-->
    <!--  Menu Bar    -->
    <nav>
        <div class="head">
            <div class="head_menu">
                <div class="logo">
                    <img src="../thirdpage/image/rupam1.png">
                </div>

                <div class="section">


                    <div class="qu">
                        <a href="/registration"> Book Appoiment</a>
                    </div>

                    <div class="qu1">
                        <a href="/helpdesk"> Get Help</a>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </nav>

    <!-- Doctor details -->
    <div class="doctor-details">
        <h2>Dr Pritam Biswas</h2>
        <div class="doc-main">
            <div class="doc-img">
                <img src="../thirdpage/image/4.jpg" alt="">
            </div>
            <div class="doc-text">
                <h3>Dr Pritam Biswas</h3>
                <h4>MBBS,MD(Dermatologist).17 Years Exp.</h4>
                <h5>MBBS,MD(Dermatologist), MBBS <br> Kolkata</h5>
                <div class="rating">
                    <h6>90% </h6>
                    <h7>166 ratings</h7>
                </div>

                <div class="fees">
                    <span>&#8377; 1,500</span>
                    <p>at clinic</p>

                </div>
            </div>


        </div>
    </div>

    <div class="part2">
        <div class="part2s">
            <div class="personal">
                <h2>Personal Statement</h2>
                <div class="per">
                    <input type="checkbox" name="readmore" id="readmore">
                    <div class="per_text">
                        <p>I believe in health care that is based on a personal commitment to meet patient needs with
                            compassion and care.Dr Sunakshi Singh is an MBBS graduate with an MD in dermatology and she
                            has
                            a thriving practice for the past seven years in Delhi......</p>

                        <h5>More about Dr Pritam Biswas</h5>
                        <p>  She can be found giving out treatment
                            and
                            consultation at Advanced Dermatology and Hair Transplant Clinic (ADHT Clinic) in CR Park,
                            Delhi.
                            Her forte includes anti aging treatments and Botox treatments as well as Restylane Vital
                            treatment which helps her in preventing those obvious signs of aging. Also, she is well known for successfully treating cases of anti aging with the help of the
                            Vampire face lift. She renders these treatment measures with a firm hand and steady
                            knowledge,
                            which has helped her build on the trust of her patients. She also carries out various other
                            kinds of treatment for the skin as well as the hair. To begin with, she carries out acne and
                            acne scar treatment for those people who are experiencing a heavy flare up at frequent
                            intervals, or constantly for many years.Her understanding of aging, skin and hair have helped her in
                            building a flourishing practice. She has completed her MBBS from BPKISS in Nepal before
                            doing an
                            MD in dermatology from the same institute. She is also a member of the Fellowship in
                            Aesthetic
                            Hair Transplant Surgeons, which helps her in learning more about her field for the benefit
                            of
                            her patients. She is proficient in both English and Hindi.</p>

                    </div>
                    
                    <label for="readmore">read more...</label>
                </div>
            </div>

            <!--  -->
            <div class="details">
                <h2>Doctor Information</h2>
                <div class="doc_details">

                    <div class="doc-text2">
                        <h3>Speciality</h3>
                        <img src="../thirdpage/image/OIP (2).jpeg">
                        <ul>

                            <li>Dermatologist</li>
                        </ul>
                        <h3 class="h3">Other treatment areas</h3>
                        <img class="img1" src="../thirdpage/image/Screenshot_11-5-2024_04413_www.lybrate.com.jpeg">

                        <ul class="d1">
                            <li>Dermatologist/ Cosmetologist</li>
                            <li class="l1">Hair Transplant Surgeon</li>
                        </ul>


                        <h3>Education</h3>
                        <img src="../thirdpage/image/Screenshot_11-5-2024_04455_www.lybrate.com.jpeg">
                        <ul class="d2">
                            <li>MBBS,MD(Dermatologist),Kolkata</li>
                           
                        </ul>
                        <h3>Languages spoken</h3>
                        <img src="../thirdpage/image/Screenshot_11-5-2024_04510_www.lybrate.com.jpeg">
                        <ul class="d2">
                            <li>Bengali</li>
                            <li>English</li>
                            <li>Hindi</li>

                        </ul>
                        <h3>Professional Memberships</h3>
                        <img src="../thirdpage/image/Screenshot_11-5-2024_04521_www.lybrate.com.jpeg">
                        <ul class="d2">
                            <li>Fellowship In Aesthetic Hair Transplant Surgeons</li>

                        </ul>

                    </div>
                    <div class="image_side">
                        <img src="../thirdpage/image/pngwing.com---2020-07-17t120606.344.webp">
                    </div>



                </div>


            </div>
        </div>
    </div>

     <!-- service section -->
     <div class="service">
        <div class="service_item1">
            <img src="../thirdpage/image/360_F_327740445_NGTO6Lc4du5WOvTwHERCQmvYDw4bbeuo.jpg">
            <h3>24 Hours Service</h3>
            <p>Providing unwavering <span>support around the clock,our</span>24-hour service ensures.</p>
        </div>

        <div class="service_item2">
            <img src="../thirdpage/image/High-Job-Placement-Rates-CIMS-300x300.png">
            <h3>Qualified Doctor</h3>
            <p>A qualified doctor possesses a comprehensive understanding<span>of medical science</span></p>
        </div>

        <div class="service_item3">
            <img src="../thirdpage/image/OIP.jpeg">
            <h3>Emergency care</h3>
            <p>its timely intervention plays <br><span>a crucial role in stabilizing <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;patients and saving lives.</span></p>
        </div>
    </div>



    <section class="testimonials">
        <div class="review-container">
            <div class="section-header">
                <h2 class="title">What our client says</h2>
            </div>
            <div class="testimonials-content">
                <div class="swiper testimonials-slider js-testimonials-slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide testimonials-item">
                            <div class="info">
                                <!-- <img src="/image/f1.jpg" alt="" style="width: 140px; height: 140px;"> -->
                                <img src="../thirdpage/image/icons8-person-96.png" alt="" style="width: 140px; height: 140px;">

                                <div class="text-box">
                                    <h3 class="name">Dipak Das</h3>
                                    <span class="job">Web Developer</span>
                                </div>
                            </div>
                            <p>The doctor is very good and kind and all the treatments I have done is absolutely amazing
                                and I have result good results.</p>
                            <div class="review-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>

                            </div>
                        </div>
                        <div class="swiper-slide testimonials-item">
                            <div class="info">
                                <img src="../thirdpage/image/icons8-lady-skin-type-3-96.png" alt=""
                                    style="width: 140px; height: 140px;">

                                <div class="text-box">
                                    <h3 class="name">Priya Roy</h3>
                                    <span class="job">Teacher</span>
                                </div>
                            </div>
                            <p>The most important thing I liked it is the clinic is super clean and second the doctor is
                                soo kind and sweet. I am recovering very fast from the all the health problems I had.
                            </p>
                            <div class="review-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>

                            </div>
                        </div>
                        <div class="swiper-slide testimonials-item">
                            <div class="info">
                                <!-- <img src="/image/f1.jpg" alt="" style="width: 140px; height: 140px;"> -->
                                <img src="../thirdpage/image/icons8-lady-skin-type-3-96.png" alt=""
                                    style="width: 140px; height: 140px;">

                                <div class="text-box">
                                    <h3 class="name">Prodip Ghosh</h3>
                                    <span class="job">Buisnessman</span>
                                </div>
                            </div>
                            <p>Staff gulo khub helpful chilo and doctor er treatment ta o khub bhalo. Must recommended.</p>
                            <div class="review-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>

                            </div>
                        </div>
                        <div class="swiper-slide testimonials-item">
                            <div class="info">
                                <!-- <img src="/image/f1.jpg" alt="" style="width: 140px; height: 140px;"> -->
                                <img src="../thirdpage/image/icons8-person-96.png" alt="" style="width: 140px; height: 140px;">

                                <div class="text-box">
                                    <h3 class="name">Rajesh Sharma</h3>
                                    <span class="job"></span>
                                </div>
                            </div>
                            <p>The most important thing I liked it is the clinic is super clean and second the doctor is
                                soo kind and sweet. I am recovering very fast from the all the health problems I had.</p>
                            <div class="review-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>

                            </div>
                        </div>
                        <div class="swiper-slide testimonials-item">
                            <div class="info">
                                <!-- <img src="/image/f1.jpg" alt="" style="width: 140px; height: 140px;"> -->
                                <img src="../thirdpage/image/icons8-lady-skin-type-3-96.png" alt=""
                                    style="width: 140px; height: 140px;">

                                <div class="text-box">
                                    <h3 class="name">Soniya Mukherjee</h3>
                                    <span class="job">Housewife</span>
                                </div>
                            </div>
                            <p>Khub kind and bhalo doctor. Apnar problem ta bhalo kore analyse kore apnake best treatment provide krbe. Must recommended.</p>
                            <div class="review-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>

                            </div>
                        </div>
                        <!-- <div class="swiper-slide testimonials-item">
                            <div class="info">
                                <img src="/image/icons8-person-96.png" alt="" style="width: 140px; height: 140px;">

                                <div class="text-box">
                                    <h3 class="name">Dipak Das</h3>
                                    <span class="job">Web Developer</span>
                                </div>
                            </div>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur soluta perferendis
                                aut
                                blanditiis praesentium molestiae quaerat ratione tempora itaque reprehenderit.</p>
                            <div class="review-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>

                            </div>
                        </div> -->
                        <div class="swiper-slide testimonials-item">
                            <div class="info">
                                <img src="../thirdpage/image/icons8-person-96.png" alt="" style="width: 140px; height: 140px;">



                                <div class="text-box">
                                    <h3 class="name">Asutosh Das</h3>
                                    <span class="job">Student</span>
                                </div>
                            </div>
                            <p>Must recommended.</p>
                            <div class="review-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination js-testimonials-pagination .swiper-pagination-bullet"></div>
            </div>
        </div>
    </section>



    <div class="footery">
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="footer-col">
                        <h4>Company</h4>
                        <ul>
                            <li><a href="#">about us</a></li>
                            <li><a href="#">our services</a></li>
                            <li><a href="#">privacy policy</a></li>
                            <li><a href="#">Know more</a></li>

                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>Get Help</h4>
                        <ul>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Appointment</a></li>
                            <li><a href="#">Payment Options</a></li>

                        </ul>
                    </div>
                    <!-- <div class="footer-col">
                        <h4>Online Shop</h4>
                        <ul>
                            <li><a href="#">watch</a></li>
                            <li><a href="#">bag</a></li>
                            <li><a href="#">shoes</a></li>
                            <li><a href="#">dress</a></li>

                        </ul>
                    </div> -->
                    <div class="footer-col">
                        <h4>Follow Us</h4>
                        <div class="social-links">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <script>
        const swiper = new Swiper('.js-testimonials-slider', {
            grabCursor: true,
            spaceBetween: 30,
            pagination: {
                el: '.js-testimonials-pagination',
                clickable: true
            },
            breakpoints: {
                767: {
                    slidesPerView: 2
                }
            }
        });
    </script>







</body>

</html>