<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <!-- css for email and number icon flashing -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <!-- css link -->
      <link rel="stylesheet" href="../thirdpage/about.css">
      <link rel="stylesheet" href="../profile.css">


</head>

<body>
    <div class="top-bar">
        <div class="contact-info">
            <span><i class="bx bx-location-plus bx-flashing"></i>Address: Purba Bardhaman, 713101</span>
            <span><i class="bx bx-envelope"></i>Email:docappoint1234@gmail.com</span>
        </div>

        <div class="social_media-icon">
            <i class='bx bxl-google'></i>&nbsp;&nbsp;
            <i class='bx bxl-facebook-circle'></i>&nbsp;&nbsp;
            <i class='bx bxl-twitter'></i>
        </div>
        <div class="sign-in-up">
              <a href="/index"><img src="../thirdpage/image/icons8-user-96.png" alt=""></a>
          </div>
    </div>


    <!--Menu bar and logo-->
    <!--  Menu Bar    -->
    <nav>
        <div class="head">
            <div class="head_menu">
                <div class="logo">
                    <img src="../images/rupam1.png">
                </div>

                <div class="section">


                    <!-- <div class="qu">
                        <a href="/registration"> Book Appoiment</a>
                    </div> -->

                    <div class="qu1">
                        <a href="/"> Home</a>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </nav>