<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <!-- css for email and number icon flashing -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <!-- css link -->
    <link rel="stylesheet" href="../thirdpage/about.css">


</head>

<body>
    <div class="top-bar">
        <div class="contact-info">
            <span><i class="bx bx-location-plus bx-flashing"></i>Address: Purba Bardhaman, 713101</span>
            <span><i class="bx bx-envelope"></i>Email:docappoint1234@gmail.com</span>
        </div>

        <div class="social_media-icon">
            <i class='bx bxl-google'></i>&nbsp;&nbsp;
            <i class='bx bxl-facebook-circle'></i>&nbsp;&nbsp;
            <i class='bx bxl-twitter'></i>
        </div>
        <div class="sign-in-up">
            <!-- <button>Sign In</button> -->
            <a href="/index"><img src="../thirdpage/image/icons8-user-96.png" alt=""></a>
        </div>
    </div>


    <!--Menu bar and logo-->
    <!--  Menu Bar    -->
    <nav>
        <div class="head">
            <div class="head_menu">
                <div class="logo">
                    <img src="../thirdpage/image/rupam1.png">
                </div>

                <div class="section">


                    <div class="qu">
                        <a href="/registration"> Book Appoiment</a>
                    </div>

                    <div class="qu1">
                        <a href="/helpdesk"> Get Help</a>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </nav>

    <!-- Doctor details -->
    <div class="doctor-details">
        <h2>Dr Rupali Kar</h2>
        <div class="doc-main">
            <div class="doc-img">
                <img src="../thirdpage/image/rimi.jpg" alt="">
            </div>
            <div class="doc-text">
                <h3>Dr Rupali Kar</h3>
                <h4>MBBS,MS(Ortho,BSMMU).15 Years Exp.</h4>
                <h5>MBBS,MS(Ortho,BSMMU) <br> Burdwan</h5>
                <div class="rating">
                    <h6>90% </h6>
                    <h7>166 ratings</h7>
                </div>

                <div class="fees">
                    <span>&#8377; 1,200</span>
                    <p>at clinic</p>

                </div>
            </div>


        </div>
    </div>

    <div class="part2">
        <div class="part2s">
            <div class="personal">
                <h2>Personal Statement</h2>
                <div class="per">
                    <input type="checkbox" name="readmore" id="readmore">
                    <div class="per_text">
                        <p>I believe in health care that is based on a personal commitment to meet patient needs with
                            compassion and care.
                            a thriving practice for the past seven years,Orthopedic specialist.........
                        </p>
                        <h5>More about Dr Rupali Kar</h5>
                        <p>
                            An orthopedic specialist is a medical doctor with extensive training in diagnosing, treating, and preventing disorders of the musculoskeletal system, which includes bones, joints, ligaments, tendons, and muscles. They manage a variety of conditions, from fractures and dislocations to chronic diseases like arthritis and osteoporosis. Orthopedic specialists perform surgeries such as joint replacements, arthroscopic procedures, and fracture repairs, utilizing both traditional and minimally invasive techniques.

                            In addition to surgical interventions, they develop comprehensive treatment plans that may include physical therapy, medication, and lifestyle modifications to promote recovery and improve quality of life. These specialists also play a crucial role in sports medicine, helping athletes recover from injuries and enhance their performance. They work closely with patients of all ages, from children with congenital conditions to elderly individuals with degenerative diseases. Orthopedic specialists often collaborate with other healthcare professionals to provide holistic care and are dedicated to advancing their field through research and innovation. Their expertise and commitment are essential for restoring mobility and alleviating pain, significantly impacting patients' lives. 
                        </p>

                    </div>
                    
                    <label for="readmore">read more...</label>
                </div>
            </div>

            <!--  -->
            <div class="details">
                <h2>Doctor Information</h2>
                <div class="doc_details">

                    <div class="doc-text2">
                        <h3>Speciality</h3>
                        <img src="../thirdpage/image/OIP (2).jpeg">
                        <ul>

                            <li>ACL Reconstruction Surgery
                            </li>
                        </ul>
                        <h3 class="h3">Other treatment areas</h3>
                        <img class="img1" src="../thirdpage/image/Screenshot_11-5-2024_04413_www.lybrate.com.jpeg">

                        <ul class="d1">
                            <li> Knee Replacement Surgery</li>
                            <li class="l1">Shoulder Replacement Surgery</li>
                        </ul>


                        <h3>Education</h3>
                        <img src="../thirdpage/image/Screenshot_11-5-2024_04455_www.lybrate.com.jpeg">
                        <ul class="d2">
                            <li>MBBS,MS(Ortho,BSMMU),Kolkata</li>
                            
                        </ul>
                        <h3>Languages spoken</h3>
                        <img src="../thirdpage/image/Screenshot_11-5-2024_04510_www.lybrate.com.jpeg">
                        <ul class="d2">
                            <li>Bengali</li>
                            <li>English</li>
                            <li>Hindi</li>

                        </ul>
                        <h3>Professional Memberships</h3>
                        <img src="../thirdpage/image/Screenshot_11-5-2024_04521_www.lybrate.com.jpeg">
                        <ul class="d2">
                            <li>Diagnosis of your injury or disorder. Treatment with medication, injections, casting, bracing, surgery, or other options.</li>

                        </ul>

                    </div>
                    <div class="image_side">
                        <img src="../thirdpage/image/pngwing.com---2020-07-17t120606.344.webp">
                    </div>



                </div>


            </div>
        </div>
    </div>

   <!-- service section -->
   <div class="service">
    <div class="service_item1">
        <img src="../thirdpageimage/360_F_327740445_NGTO6Lc4du5WOvTwHERCQmvYDw4bbeuo.jpg">
        <h3>24 Hours Service</h3>
        <p>Providing unwavering <span>support around the clock,our</span>24-hour service ensures.</p>
    </div>

    <div class="service_item2">
        <img src="../thirdpageimage/High-Job-Placement-Rates-CIMS-300x300.png">
        <h3>Qualified Doctor</h3>
        <p>A qualified doctor possesses a comprehensive understanding<span>of medical science</span></p>
    </div>

    <div class="service_item3">
        <img src="../thirdpageimage/OIP.jpeg">
        <h3>Emergency care</h3>
        <p>its timely intervention plays <br><span>a crucial role in stabilizing <br>
                &nbsp;&nbsp;&nbsp;&nbsp;patients and saving lives.</span></p>
    </div>
</div>

<section class="testimonials">
    <div class="review-container">
        <div class="section-header">
            <h2 class="title">What our client says</h2>
        </div>
        <div class="testimonials-content">
            <div class="swiper testimonials-slider js-testimonials-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide testimonials-item">
                        <div class="info">
                            <!-- <img src="/image/f1.jpg" alt="" style="width: 140px; height: 140px;"> -->
                            <img src="../thirdpageimage/icons8-person-96.png" alt="" style="width: 140px; height: 140px;">

                            <div class="text-box">
                                <h3 class="name">Dipak Das</h3>
                                <span class="job">Web Developer</span>
                            </div>
                        </div>
                        <p>The doctor is very good and kind and all the treatments I have done is absolutely amazing
                            and I have result good results.</p>
                        <div class="review-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>

                        </div>
                    </div>
                    <div class="swiper-slide testimonials-item">
                        <div class="info">
                            <img src="../thirdpageimage/icons8-lady-skin-type-3-96.png" alt=""
                                style="width: 140px; height: 140px;">

                            <div class="text-box">
                                <h3 class="name">Priya Roy</h3>
                                <span class="job">Teacher</span>
                            </div>
                        </div>
                        <p>The most important thing I liked it is the clinic is super clean and second the doctor is
                            soo kind and sweet. I am recovering very fast from the all the health problems I had.
                        </p>
                        <div class="review-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>

                        </div>
                    </div>
                    <div class="swiper-slide testimonials-item">
                        <div class="info">
                            <!-- <img src="/image/f1.jpg" alt="" style="width: 140px; height: 140px;"> -->
                            <img src="../thirdpageimage/icons8-lady-skin-type-3-96.png" alt=""
                                style="width: 140px; height: 140px;">

                            <div class="text-box">
                                <h3 class="name">Prodip Ghosh</h3>
                                <span class="job">Buisnessman</span>
                            </div>
                        </div>
                        <p>Staff gulo khub helpful chilo and doctor er treatment ta o khub bhalo. Must recommended.</p>
                        <div class="review-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>

                        </div>
                    </div>
                    <div class="swiper-slide testimonials-item">
                        <div class="info">
                            <!-- <img src="/image/f1.jpg" alt="" style="width: 140px; height: 140px;"> -->
                            <img src="../thirdpageimage/icons8-person-96.png" alt="" style="width: 140px; height: 140px;">

                            <div class="text-box">
                                <h3 class="name">Rajesh Sharma</h3>
                                <span class="job"></span>
                            </div>
                        </div>
                        <p>The most important thing I liked it is the clinic is super clean and second the doctor is
                            soo kind and sweet. I am recovering very fast from the all the health problems I had.</p>
                        <div class="review-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>

                        </div>
                    </div>
                    <div class="swiper-slide testimonials-item">
                        <div class="info">
                            <!-- <img src="/image/f1.jpg" alt="" style="width: 140px; height: 140px;"> -->
                            <img src="../thirdpageimage/icons8-lady-skin-type-3-96.png" alt=""
                                style="width: 140px; height: 140px;">

                            <div class="text-box">
                                <h3 class="name">Soniya Mukherjee</h3>
                                <span class="job">Housewife</span>
                            </div>
                        </div>
                        <p>Khub kind and bhalo doctor. Apnar problem ta bhalo kore analyse kore apnake best treatment provide krbe. Must recommended.</p>
                        <div class="review-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>

                        </div>
                    </div>
                    <!-- <div class="swiper-slide testimonials-item">
                        <div class="info">
                            <img src="/image/icons8-person-96.png" alt="" style="width: 140px; height: 140px;">

                            <div class="text-box">
                                <h3 class="name">Dipak Das</h3>
                                <span class="job">Web Developer</span>
                            </div>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur soluta perferendis
                            aut
                            blanditiis praesentium molestiae quaerat ratione tempora itaque reprehenderit.</p>
                        <div class="review-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>

                        </div>
                    </div> -->
                    <div class="swiper-slide testimonials-item">
                        <div class="info">
                            <img src="../thirdpageimage/icons8-person-96.png" alt="" style="width: 140px; height: 140px;">



                            <div class="text-box">
                                <h3 class="name">Asutosh Das</h3>
                                <span class="job">Student</span>
                            </div>
                        </div>
                        <p>Must recommended.</p>
                        <div class="review-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>

                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination js-testimonials-pagination .swiper-pagination-bullet"></div>
        </div>
    </div>
</section>



<div class="footery">
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4>Company</h4>
                    <ul>
                        <li><a href="#">about us</a></li>
                        <li><a href="#">our services</a></li>
                        <li><a href="#">privacy policy</a></li>
                        <li><a href="#">Know more</a></li>

                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Get Help</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Appointment</a></li>
                        <li><a href="#">Payment Options</a></li>

                    </ul>
                </div>
                <!-- <div class="footer-col">
                    <h4>Online Shop</h4>
                    <ul>
                        <li><a href="#">watch</a></li>
                        <li><a href="#">bag</a></li>
                        <li><a href="#">shoes</a></li>
                        <li><a href="#">dress</a></li>

                    </ul>
                </div> -->
                <div class="footer-col">
                    <h4>Follow Us</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<script>
    const swiper = new Swiper('.js-testimonials-slider', {
        grabCursor: true,
        spaceBetween: 30,
        pagination: {
            el: '.js-testimonials-pagination',
            clickable: true
        },
        breakpoints: {
            767: {
                slidesPerView: 2
            }
        }
    });
</script>







</body>

</html>